.task-item {
  display: block;
  margin: 12px;
  padding: 12px;
  background-color: #ccc;
  border: 1px solid #999;
  border-radius: 4px;
  box-shadow: 5px 5px 4px #aaa;
}

.task-item .task-info {
  overflow: auto;
}

.task-item .task-info > div {
  display: inline-block;
}

.task-item .task-info > .btn-desc {
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 16px;
  background-color: #aaa;
  border: none;
  border-radius: 50%;
}

.task-item .task-info > button:focus {
  outline: none;
}

.task-item .task-name {
  width: 65%;
}

.task-item .task-priority,
.task-item .task-status {
  clear: right;
  float: right;
  margin: 0 2px 0 0;
  padding: 0;
}

.task-item .task-desc {
  margin: 0;
  padding: 12px;
  text-align: justify;
}
